body {
        --color-text: #f4f4f4;
    --color-bg: #ff1e21;
    --color-bg-2: #f98e4a;
    --color-link: #317bd0;
    --color-link-hover: #317bd0;
    background: radial-gradient(ellipse at 100% 0, #af0307 0, var(--color-bg) 50%, #3a0101 115%);
}